h1{
    text-align: center;
}
.MyInfo{
    position: absolute;
    left: 150px;
    width: 550px;
    height: 600px;
}
.info{
    position: absolute;
    right: 570px;
}
.box{
    width: 300px;
    height: 100px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ea7ee1;

}
.MyAnime{
    position: relative;
    left: 420px;
    top: 0;
    width: 500px;
    height: 200px;
}
.lank{
    position: relative;
    top: 0;
    left: -200px;
    width: 700px;
    height: 300px;
}
.h3{
    position: relative;
    left: 100px;
    top: -100px;
    width: 700px;
}
.kinyu{
    position: absolute;
    left: 230px;
    top: 1150px;
}



h2{
    text-align: center;
    color: rgb(107,100,3);
}
table{
    width: 20%;
    margin-left: 550px;
    border: 1px solid orange;
}
tr:nth-child(even){
    background-color: aliceblue;
}
tr:nth-child(odd){
    background-color: rgb(214,151,67);
}
.ui-slider .ui-slider-handle{
    background: rgb(147,84,3);
}
.ui-slider .ui-slider-range{
    background: orange;
}

.ui-slider{
    width: 50%;
    margin-left: 400px;
    margin-right: 200px;
}
th{
    color: antiquewhite;
    background-color: rgb(147,84,3);
    font-size: 30px;
}